@import './vars.scss';

.contacts_container_wrapper__main {
    // height: 567px;
    background-color: $nice-black2;
    padding: 120 0 130 78;
    color: white;
}
.contacts_container_wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}

.contacts_content1 {
    width: 40%;
}
.contacts__title {
    font-size: calc(42px + 1vw);
    font-family: 'main_ebold';
    font-weight: 900;
    margin: 40 0;
}
.contact__item {
    margin: 30 0;
    display: flex;
    align-items: center;
    align-content: center;
    &__icon {
        i {
            padding: 20;
            background-color: $nice_yellow;
            font-size: 30px;
            color: black;
        }
    }
    &__text {
        margin: 0 0 0 30;
        font-size: calc(12px + 0.54vw);   
    }
}

.contacts_content2 {
    width: 50%;
}
.contacts__title2 {
    color: $nice-yellow;
    font-size: calc(27px + 1vw);
    font-family: 'main_ebold';
    font-weight: 900;
    margin: 40 0;
}

.contact2_button {
    margin: 70 0;
}

@media (max-width: 888px) {
    .contacts_container_wrapper__main {
        padding: 120 0 100 0;
    }
    .contacts_container_wrapper {
        flex-direction: column;
    }
    .contacts_content1 {
        width: 100%;
    }
    .contacts_content2 {
        width: 100%;
    }
    .contact2_button {
        text-align: center;
        margin: 5 0;
    }
}