.menu__container {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.menu__container__img {
  object-fit: contain;
  width: 45%;
  overflow: hidden;
  max-width: 500px;
}

.menu__blocks {
  width: 50% !important;
  margin: 80 0;
  padding: 10 0;
}
.menu__blocks__sub {
  width: 100%;
}

.owl-item {
  max-width: 100%;
}

.menu__block {
  margin: 10;
  min-width: 260px;
  max-width: 260px;
  width: 30%;
  overflow: hidden;
}
.menu__block__image {
  margin: 0px auto;
  overflow: hidden;
}
.menu__block__image img {
  max-width: 280px;
  width: 100%;
  object-fit: cover;
}

.menu__link {
  margin-top: 90;
  text-align: center;
}

/* 14 */
.btn-14 {
  text-decoration: none;
  background: #ec375d;
  border: none;
  z-index: 1;
}

.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0;
  background-color: #ec375d;
  background-image: linear-gradient(315deg, #3ac267 0%, #3ac267 74%);
  transition: all 0.3s ease;
}

.btn-14:hover {
  color: #000;
}

.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.btn-14:active {
  top: 2px;
}

.custom-btn {
  color: black;
  border: 2px solid #3ac267;
  border-radius: 3px;
  padding: 15px 65px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}
.custom-btn:hover {
  color: white;
}

@media (max-width: 981px) {
  .menu__container {
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .menu__container__img {
    margin: 20 0 -40 0;
    width: 98%;
  }
  .menu__container .menu__blocks {
    width: 98% !important;
    padding: 0;
  }

  .owl__nav {
    bottom: -65;
  }

  .menu__link {
    margin-top: 110px;
  }
}