@import './vars.scss';

.menu__container {
    // width: 100%;
    margin: 0px auto;
    display: flex;
    // overflow: hidden;
    justify-content: space-between;
    &__img {
        object-fit: contain;
        width: 45%;
        overflow: hidden;
        max-width: 500px;
    }
}
.menu__blocks {
    width: 50% !important;
    margin: 80 0;
    padding: 10 0;
    // max-width: 100%;
    // overflow-x: hidden;
    &__sub {
        width: 100%;
    }
}
.owl-item {
    max-width: 100%;
}
.menu__block {  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 10;
    min-width: 260px;
    max-width: 260px;
    height: 320px;
    // width: 260px;
    width: 30%;
    overflow: hidden;
    &__image {
        margin: 0px auto;
        overflow: hidden;
        img {
            // max-width: 280px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 180px;
            width: 100%;
            object-fit: contain;
            // max-width: 260px;
            // max-height: 260px;
        }
    }
    &__price {

    }
    &__title {
        font-size: 14px;
    }
}
.info__block {
    margin-top: 5px;
}

.menu__link {
    margin-top: 90;
    text-align: center;
}

/* 14 */
.btn-14 {
    text-decoration: none;
    background: $main-color;
    border: none;
    z-index: 1;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0;
    background-color: $main-color;
    background-image: linear-gradient(315deg, $nice-green 0%, $nice-green 74%);
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }

.custom-btn {
    // background-color: $main-color;
    color: black;
    border: 2px solid $nice-green;
    border-radius: 3px;
    padding: 15px 65px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    &:hover {
        color: white;
    }
  }



  @media (max-width: 981px) {
    .menu__container {
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        &__img {
            margin: 20 0 -40 0;
            width: 98%;
        }
        .menu__blocks {
            width: 98% !important; 
            padding:0;
        }
    }
    .owl__nav {
        bottom: -65;
    }
    .menu__link {
        margin-top: 110px;
    }
}

