<div class="adv__wrapper">

    <div class="nice_title center green middle">
        <span>
        Наши преимущества
        </span>
    </div>

    <div class="adv__main">

        <div class="adv__main__item">
            <div class="adv__main__item__title">
            Высококвалифицированный персонал в компании, постоянные тренинги и стажировки
            </div>
            <div class="adv__main__item__counter">
                01
            </div>
        </div>

        <div class="adv__main__item">
            <div class="adv__main__item__title">
            Возможность создания меню исходя из концепции мероприятия с привлечением бренд-шефа
            </div>
            <div class="adv__main__item__counter">
                02
            </div>
        </div>

        <div class="adv__main__item">
            <div class="adv__main__item__title">
            Обладание рядом премий и наград в индустрии выездного обслуживания
            </div>
            <div class="adv__main__item__counter">
                03
            </div>
        </div>
        <div class="adv__main__item">
            <div class="adv__main__item__title">
            Мы открыты и ничего не скрываем от своих клиентов. 
            Хотите контролировать процесс подготовки вашего мероприятия и убедиться в мастерстве наших поваров? Мы дадим вам такую возможность!
            </div>
            <div class="adv__main__item__counter">
                04
            </div>
        </div>
        <div class="adv__main__item">
            <div class="adv__main__item__title">
            Мы отвечаем за уровень предоставляемых услуг. В этом нам помогает собственная система контроля качества, работающая на всех уровнях организации кейтеринга.
            </div>
            <div class="adv__main__item__counter">
                05
            </div>
        </div>
        <div class="adv__main__item">
            <div class="adv__main__item__title">
            Мы предоставляем комплекс услуг по организации питания на различных мероприятиях. 
            Помимо приготовления и доставки праздничных блюд мы предлагаем аренду мебели и посуды на ресторанный кейтеринг, возможность заказа обслуживающего персонала, оформления для мероприятий
            </div>
            <div class="adv__main__item__counter">
                06
            </div>
        </div>

    </div>
</div>