<div class="contacts_container_wrapper__main">
<div class="contacts_container_wrapper">
    <div class="contacts_content1">
        <div class="contacts__title">
            Наши контакты
        </div>
        <div class="contact__item">
            <div class="contact__item__icon">
                <i class="fa fa-route"></i>
            </div>
            <div class="contact__item__text">
                Симферополь, ул. Киевская, д. 126
            </div>
        </div>
        <div class="contact__item">
            <div class="contact__item__icon">
                <i class="fa fa-phone-alt"></i>
            </div>
            <div class="contact__item__text">
                +7 (978)-xxx-xx-xx
            </div>
        </div>
    </div>
    <div class="contacts_content2">
        <div class="contacts__title2">
            Сделем ваше событие незабываемым!
        </div>
        <div class="contact2_button">
            <span class="custom-btn btn-14 style_2 callme_link">
                Узнать как
            </span>
        </div>
    </div>
</div>
</div>