<div id="services_anchor"></div>
<div class="services__wrapper">

    <div class="regular_title">
        <span>
            Наши услуги
        </span>
    </div>

<div class="service__list">


    <a class="service"
    href="">    
        <div class="service__title">
            Фуршет
        </div>
    </a>
    <a class="service"
    href="">    
        <div class="service__title">
            Банкет
        </div>
    </a>
    <a class="service"
    href="">    
        <div class="service__title">
            Кофе брейк
        </div>
    </a>
    <a class="service"
    href="">    
        <div class="service__title">
            Организация и проведение
        </div>
    </a>
    <a class="service"
    href="">    
        <div class="service__title">
            Обеспечение предприятий
        </div>
    </a>
    <a class="service"
    href="">    
        <div class="service__title">
            Аренда оборудования
        </div>
    </a>


    </div>

</div>